:root {
  --font-main: 'Montserrat', sans-serif;
  //--font-accent: 'Playfair Display', sans-serif;

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}

.dark {
  --color-bg: #252526;
  --color-text: #fff;
}
