.ourservices {
  padding: 212px 0 80px;

  background-image: url('../img/bg/bg-ourservices.jpg');
  background-image: -webkit-image-set(url('../img/bg/bg-ourservices.webp') 1x, url('../img/bg/bg-ourservices.jpg') 1x);
  background-image: image-set(
    url('../img/bg/bg-ourservices.webp') type('image/webp') 1x,
    url('../img/bg/bg-ourservices.jpg') type('image/jpeg') 1x
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
  }

  &__descr {
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, minmax(176px, 285px));
    grid-auto-rows: 285px;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 80px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 1fr;
    }
    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
  }

  &__link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 100%;
    padding: 80px 10px 10px;
    margin: 0 auto;

    background-image: url('../img/ourservices-item.jpg');
    background-image: -webkit-image-set(url('../img/ourservices-item.webp') 1x, url('../img/ourservices-item.jpg') 1x);
    background-image: image-set(
      url('../img/ourservices-item.webp') type('image/webp') 1x,
      url('../img/ourservices-item.jpg') type('image/jpeg') 1x
    );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
      content: '';
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      background-repeat: no-repeat;
      opacity: 1;
      transition: opacity 0.33s ease;
    }
    &:hover::before {
      background-color: var(--gray-900);
      opacity: 0.6;
    }
    &:hover {
      .ourservices__subtitle {
        color: #ffffff;
      }
      .ourservices__icon {
        fill: #ffffff;
      }
    }

    @media (max-width: 768px) {
      max-width: 100%;
      height: 100%;
      padding: 44px 10px 30px;
    }
    @media (max-width: 480px) {
      flex-direction: row;
      padding: 30px;
    }
  }

  &__icon {
    max-width: 48px;
    width: 100%;
    margin-bottom: 24px;
    z-index: 10;
    transition: fill 0.33s ease;
    @media (max-width: 480px) {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }
  &__subtitle {
    text-align: center;
    z-index: 10;
    transition: color 0.33s ease;
    @media (max-width: 480px) {
      text-align: left;
    }
  }
}
