.icon {
  fill: transparent;
  stroke: transparent;

  &--play-btn {
    width: 19px;
    height: 22px;
    fill: var(--white);
    // transition: fill 0.25s ease-in-out;
    // &:hover {
    //   fill: var(--color-primary);
    //   transition: fill 0.25s ease-in-out;
    // }
  }
  &--sound-off {
    width: 20px;
    height: 20px;
    fill: var(--white);
  }
  &--like {
    width: 48px;
    height: 48px;
    fill: var(--primary);
  }

  &--slider-controls {
    width: 24px;
    height: 24px;
    fill: var(--gray-800);
  }

  &--chat {
    width: 16px;
    height: 16px;
    fill: var(--gray-700);
  }
}
